* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}

body {
    background-color: grey;
}

.game-container {
    background-color: grey;
    min-height: 100svh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.game-board {
    aspect-ratio: 1/1;
    width: min(90vw, 700px);
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    background-color: white;
}

.square[data-index="0"],
.square[data-index="3"],
.square[data-index="6"] {
    border-right: 5px solid black;
}

.square[data-index="2"],
.square[data-index="5"],
.square[data-index="8"] {
    border-left: 5px solid black;
}

.square[data-index="6"],
.square[data-index="7"],
.square[data-index="8"] {
    border-top: 5px solid black;
}

.square[data-index="0"],
.square[data-index="1"],
.square[data-index="2"] {
    border-bottom: 5px solid black;
}